In [11]:
class Student:
 pass

In [12]:
student1= Student()
student2= Student()
print(student1)

<__main__.Student object at 0x000001F3CC71FE80>

In [13]:
print(Student)
print(student2)

<class '__main__.Student'>
<__main__.Student object at 0x000001F3CC71FE20>

In [14]:
print(student1 ==student2)
print(student1 is student2)

False
False

In [15]:
class Teacher:
    def __init__(self, name, age, subjects):
        self.name= name
        self.age =age
        self.subjects=subjects

In [16]:

teacher1 =Teacher("Alice", 45, "ENG/PHYC")
teacher2=Teacher("John", 30, "BIO/MATHS")
print(teacher1.name)

Alice

In [17]:
print(teacher2.name, teacher2.age)

John 30

In [18]:
print(teacher1.name, teacher1.subjects)

Alice ENG/PHYC

In [19]:
class Dog():
    pass